doctype html

html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/style.css')
    Title Genji
  body
    nav.navbar.navbar-expand-medium.navbar-dark.bg-dark
      span.navbar-brand(data-bind='text: name')
      span.text-light
        button.btn.btn-outline-success.mr-3(type='button', data-bind='click: saveConfig, visible: $root.editable') Save
        button.btn.btn-outline-warning.mr-3(type='button', data-bind='click: cancelEdit, visible: $root.editable') Cancel
        span Version&nbsp&nbsp
        span(data-bind='text: version')
    div.container-fluid.mt-2.mb-2.h-100.w-100
      div#editor

    script(src='modules/jquery/dist/jquery.min.js')
    script(src='modules/popper.js/dist/umd/popper.min.js')
    script(src='modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='modules/knockout/build/output/knockout-latest.js')
    script(src='modules/superagent/dist/superagent.min.js')
    script(src='modules/@fortawesome/fontawesome-free/js/all.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-yaml.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-tomorrow_night_eighties.min.js')
    script(src='assets/js/config.js')
    script(src='assets/js/index.js')
